* {
    font-family: 'Noto Sans', sans-serif;
    color: var(--color-neutral-white);
    font-size: small;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px black; */
}

/* palette */
:root {
	--color-primary-color-1: #4bc800;
	--color-primary-color-2: #f50018;
	--color-neutral-white: #ffffff;
	--color-neutral-dark: #4a4a4a;
	--color-neutral-darker: #222222;
	--color-neutral-black: #000000;
	--color-neutral-dark-transparent: #4a4a4a90;
}

/* general */
.primary-color-1 {
    color: var(--color-primary-color-1);
}

.primary-color-2 {
    color: var(--color-primary-color-2);
}

/* header */
header {
    height: 40px;
    background-color: var(--color-neutral-black);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header>div {
    background-color: var(--color-neutral-dark);
    padding: 3px 5px;
    margin: 5px;
    border-radius: 5px;
}

/* main */
main {
    background-color: var(--color-neutral-black);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 70px - 40px);
    padding: 30px 50px 20px;
}

.user-container {
    padding: 7px 3px;
    width: calc((100vw - 100px) / 7);
    height: calc(100% / 5);
    border: solid 1px;
}

.img-container {
    background-color: red;
    height: 100%;
}

.img-container>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* footer */
footer {
    height: 70px;
    background-color: var(--color-neutral-darker);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}

.float-item-button {
    display: flex;
    gap: 15px;
}

.select-item-button {
    display: flex;
    align-items: center;
    gap: 15px;
}

.item-button {
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 5px;
}

.item-button>i {
    font-size: 25px;
}

.select-item-button>i {
    font-size: 10px;
    -webkit-text-stroke: 1px;
}

.end-meeting {
    background-color: var(--color-neutral-dark);
    display: flex;
    align-self: stretch;
    align-items: center;
    padding: 0 15px;
}